## The format function

In [10]:
name="TSEMO"
age=23

In [9]:
st2="Hello! I am {0} and I am {1} years old. My sister's name is also {0}".format(name,age)
st2

"Hello! I am Peniel and I am 23 years old. My sister's name is also Peniel"

In [11]:
st3="Hello! I am {n} and I am {a} years old. My sister's name is also {n}".format(n=name,a=23)
st3

"Hello! I am TSEMO and I am 23 years old. My sister's name is also TSEMO"

In [14]:
import math
print("Pi is approximately {}".format(math.pi))

Pi is approximately 3.141592653589793

In [16]:
"Pi is approximately {:.2f}.".format(math.pi)

'Pi is approximately 3.14.'

## Input with Python

The `input` function prompts the user to given an input

In [33]:
a = input()

i love you all

In [4]:
a = input("Enter a number: \n")

Enter a number:
a

In [ ]:
n1 = input("Enter your first number ")
n2 = input("Enter your second number ")

print(" The computed sum is", n1+n2)

In [1]:
n1 = int(input("Enter a first number"))
n2 = int(input("Enter a second number"))
n3 = int(input("Enter a third number"))
print(n1**2+n2**2+n3**2)

Enter a first number2
Enter a second number3
Enter a third number4
29

In [4]:
import math

In [ ]:
print('2021-09-24-20:41:14\n')
r=float(input("Enter a radius \n"))
print('Area=', math.pi*r**2)

2021-09-24-20:41:14

In [ ]:
x=input("Enter a first number")
if x>=100:
    for n=len(x)
     F+=int(x[n])**2

In [ ]:
n1 = int(input("Enter your first number"))
n2 = int(input("Enter your second number"))

print(" The computed sum is", n1+n2)

In [4]:
n1 = float(input("Enter your first number "))
n2 = float(input("Enter your second number "))

print(" The computed sum is", n1+n2)

Enter your first number 23.4
Enter your second number 22.3
 The computed sum is 45.7

In [ ]:
n1,n2,n3 = input(" Enter three values: ").split()
print("The first value is: ", n1)
print("The second value is: ", n2)
print("The second value is: ", n3)

In [2]:
n = input(" Enter three values: ").split()

 Enter three values: 12 2 3

In [3]:
print(n)

['12', '2', '3']

In [9]:
map(int,n)

In [11]:
list(map(int, n))

[12, 2, 3]

In [5]:
val=5

In [6]:
val == 5

True

In [7]:
5 == val

True

In [8]:
5 - val == 0

True

## RÃ©vision

In [3]:
s="Hello I am {} and I am {} years old".format("Nathalie",13)
print(s)

Hello I am Nathalie and I am 13 years old

In [4]:
age= 13
name='Nathalie'

In [6]:
s="Hello I am {} and I am {} years old. My sister is also called {}".format(name,age,name)
print(s)

Hello I am Nathalie and I am 13 years old. My sister is also called Nathalie

In [7]:
s="Hello I am {0} and I am {1} years old. My sister is also called {0}".format(name,age)
print(s)

Hello I am Nathalie and I am 13 years old. My sister is also called Nathalie

In [10]:
s="Hello I am {n} and I am {a} years old. My sister is also called {n}. Rostand can not speak English very well and he is also {a} years old ".format(n=name,a=age)
print(s)

Hello I am Nathalie and I am 13 years old. My sister is also called Nathalie. Rostand can not speak English very well and he is also 13 years old

In [27]:
a=8468454.546
print('a={:13.2f}'.format(a))

a=   8468454.55

In [28]:
import math

In [49]:
print("Pi is approximately {:5.2f}.".format(math.pi))

Pi is approximately  3.14.

In [50]:
var1=input("Enter a value\t")

Enter a value	12

In [55]:
var1=float(input("Enter a value\t"))
var1

Enter a value	12.3

12.3

In [56]:
Score=32.2
print("Your score is %s" %Score)

Your score is 32.2

In [57]:
a=32.2
str(a)

'32.2'

In [63]:
a=float("112")
a

112.0

In [70]:
n1,n2=input("Enter the first value\t").split(',')

Enter the first value	23, 12

In [71]:
n = input("Enter values: ").split()

Enter two values: 12 23 34 3 3 4

In [73]:
list(map(int,n))

[12, 23, 34, 3, 3, 4]