In [5]:
'"Hello" class of 2021'

'"Hello" class of 2021'

In [16]:
s1 = "Hello"
s2 = "AIMS"

In [7]:
type(s1)

str

In [8]:
type(s2)

str

In [9]:
n = 1
type(n)

int

In [10]:
s3 = str(n)
type(s3)

str

In [11]:
n + s3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We cannot add a string with an integer

In [12]:
TypeError?

In [ ]:
help(TypeError)

### Size of a String

We can use `len` to check the size of a string

Create an empty string and chech its size

In [17]:
len(s1)

5

In [18]:
len(s2)

4

In [23]:
s4= ""
s4
len(s4)

0

In [24]:
s5=" "
len(s5)

1

**Adding a space means that the string is containing something**

### Escape sequence

In [26]:
s5 = "Hello \" AIMS" 
s5

'Hello " AIMS'

In [35]:
s6=print("Hello \tAIMS")
s6

Hello 	AIMS

### Operations on strings: + and *

In [41]:
print(s1 + "\n" + s2)

Hello
AIMS

In [42]:
2 * s1

'HelloHello'

In [43]:
3*s1

'HelloHelloHello'

In [44]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [45]:
2.*s1

TypeError: can't multiply sequence by non-int of type 'float'

### Membership operation: `in` and `not in`

In [46]:
'e' in s1

True

In [47]:
'el' in s1

True

In [48]:
'eo' in s1

False

In [49]:
'Lo' in s1

False

In [51]:
'o' not in s1

False

### Accessing elements by index

In [186]:
s7 = "I love programming!"
s7

'I love programming!'

In [185]:
s7[::-2]

'!nmagr vlI'

## Slicing

### Get one character

In [187]:
s7[0]

'I'

In [188]:
3+(4>0)

4

In [62]:
s7[18]

'!'

In [63]:
s7[-1]

'!'

### Get the first charaters

In [67]:
s7[0:6]

'I love'

In [ ]:
s7[0:7]

In [75]:
s7[:]

'I love programming!'

### Get the last n characters

In [76]:
n=5

In [77]:
s7[-n:]

'ming!'

In [79]:
s7[n:]

'e programming!'

In [81]:
s7[:5]

'I lov'

Reverse all the elements of the string

**Assignment!!! Print the following wothout using the method used**

In [86]:
print(s7[::-1])

!gnimmargorp evol I

In [96]:
s7[::2]

'Ilv rgamn!'

In [97]:
s7[::-2]

'!nmagr vlI'

## Replace

In [102]:
s7.replace('am','hello')

'I love progrhelloming!'

In [103]:
s7

'I love programming!'

the function `replace` the value of the variable

## More operations

In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
help(str.class)

SyntaxError: invalid syntax (<ipython-input-2-a4ff3035c4de>, line 1)

In [114]:
"HELLO".capitalize()

'Hello'

In [118]:
str.capitalize("HELLO")

'Hello'

In [119]:
"hello".upper()

'HELLO'

In [134]:
str.count?

In [137]:
"love"[0]

'l'

In [139]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [143]:
s1="hello"

In [144]:
s1.count("lo"[, h[, o]])

SyntaxError: invalid syntax (<ipython-input-144-4bda2f2b624e>, line 1)

In [146]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Lists

In [147]:
# empty list
my_list=[]
my_list

[]

In [148]:
type(my_list)

list

In [149]:
my_list1=[5,7,3,9]
my_list10

[5, 7, 3, 9]

In [178]:
my_list1=[5,7,3,9,"hi",True,1+5j]
my_list1

[5, 7, 3, 9, 'hi', True, (1+5j)]

In [155]:
len(my_list1)

7

In [162]:
my_list1[4][0]

'h'

## More operations

In [164]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [165]:
list.append?

In [176]:
my_list1.append([4,5])
my_list1

[5, 7, 3, 9, 'hi', True, (1+5j), [4, 5]]

In [179]:
my_list2=[4,5]
my_list1+=2*my_list2
my_list1

[5, 7, 3, 9, 'hi', True, (1+5j), 4, 5, 4, 5]

In [181]:
l2=[4,5]
l2[0]=1
l2

[1, 5]

## Tuples

In [182]:
t=("hi",1,9,-2)
t[1]=2
t

TypeError: 'tuple' object does not support item assignment

We cannot modify elements of a tuple. They are not mutable

In [183]:
h='hello'
h[0]=a
h

TypeError: 'str' object does not support item assignment

**A string is not mutable!!!**